#routinesMain {
  display: flex;
  flex-direction: column;
  margin-left: 25vw;
  /* background-color: black; */
  height: 94.6vh;
  width: 50vw;
}

#routinesMain h1 {
  font-family: "Nunito Sans", sans-serif;
  align-self: center;
  padding: 20px;
}

#routinesWrapper {
  background-color: salmon;
  height: 80vh;
  box-shadow: 0px 15px 30px black;
  border-radius: 10px;
  padding: 10px;
  overflow-y: auto;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  margin-top: 15px;
}

#routinesWrapper::-webkit-scrollbar {
  display: none; /* Chrome, Safar, Opera */
}

.card {
  background-color: white;
  margin-bottom: 10px;
  padding: 8px;
  padding-left: 35px;
}

/* a {
  color: red;
} */

#routinesMain a:hover {
  color: black;
  text-shadow: 0px 0px 5px salmon;
}

/* Make cards snap rather than free scroll? */
